header  {
  font-family: 'Homemade Apple', cursive;
  color: #365c74;
  word-spacing: 0.4em;
  text-align: center;
  font-size: 22px;
}

.header-title {
  background-color: 	#7fffd4;  
}

ul {
  list-style: none;
}

.menu {
  display: flex;
  justify-content: start;
  height: 107px;
  overflow: visible;
  z-index: 1;
  position: relative;
}

.main-menu-entry {
  margin: 15px;
  margin-right: 30px;
  margin-left: 30px;
  font-size: 19px;
}

.categorias-menu {
  width: 300px;
}

.listado-categorias {
  display: flex;
  justify-content: start;
  font-size: 12px;
  color: #365c74;
}

.categoria-nombre {
  padding-bottom: 5px;
}

.icono {
  width: 30px;
  height:25px;
  padding-right: 10px;
}





  






  



/* esto es de prueba para el menu */

.menu li > a {
  background-color: grey;
  color: white;
  padding: 5px;
  display: block;
  text-decoration: none;
  min-width: 100px;
}
.menu li > a:hover {
  color: #000;
  background-color: #eaeaea;
}
.menu > li {
  float: left;
  text-align: center;
}
.menu > li > ul {
  display: none;
  background-color: white;
}
.menu > li:hover > ul {
  display: block;
  text-align: left;
}

ul.listado-categorias {
  padding: 0px 0px 0px 0px;
}







