header  {
  font-family: 'Roboto', sans-serif;
  color: #365c74;
  word-spacing: 0.4em;
  text-align: center;
  font-size: 22px;
}

.header-title {
  background-color: 	var(--bg-secondary); 
  padding-top: 15px;
  padding-bottom: 15px;
  margin: 0px;
}

.header-categoria {
  padding-top: 10px;
  padding-bottom: 15px;
  margin: 0px;
  font-size: 30px;
}


ul {
  list-style: none;
}

.menu {
  display: flex;
  justify-content: start;
  height: 54px;
  overflow: visible;
  z-index: 1;
  position: relative;
  background-color: #92afb4;
  margin: 0px;
}

.main-menu-entry {
  margin-right: 10px;
  margin-left: 10px;
  font-size: 19px;
}

.categorias-menu {
  width: 300px;
}

.listado-categorias {
  display: flex;
  justify-content: start;
  font-size: 12px;
  color: #92afb4;
}

.categoria-nombre {
  padding-bottom: 4px;
}

.icono {
  width: 30px;
  height: 25px;
  padding-right: 15px;
}


/* esto es de prueba para el menu */

.menu li > a {
  background-color: #92afb4;
  color: white;
  display: block;
  text-decoration: none;
  min-width: 100px;
  padding-top: 15px;
  padding-bottom: 15px;;
  padding-left: 40px;
  padding-right: 40px;
}


.menu li > a:hover {
  color: #000;
  background-color: #e07676;
}
.menu > li {
  float: left;
  text-align: center;
}
.menu > li > ul {
  display: none;
  background-color: white;
}
.menu > li:hover > ul {
  display: block;
  text-align: left;
}

ul.listado-categorias {
  padding: 0px 0px 0px 0px;
}







