

 

.receta-titulo {
    font-family: 'Roboto', sans-serif;
    font-size: 30px;
    padding-left: 40px;
    margin-bottom: 5px;
}

/* esto es nuevo, lo hago por el id que agregue por el template de js */
#receta-titulo {
    font-family: 'Roboto', sans-serif;
    font-size: 30px;
    padding-left: 40px;
    margin-bottom: 5px;
}

.bloque-img-porciones {
    float: left;
    width: 450px;
    height: 500px;
}

/* xq no funciona el estilo de la imagen aplicado a su clase??
.imagen-receta {
    width: 400px;
    height: 400px;
    padding-left: 10px;
    padding-right: 25px;
} */
img {
    width: 400px;
    height: 400px;
    padding: 25px 25px 0px 25px;
}
    

.porciones {
    font-family: 'Roboto', sans-serif;
    font-size: 10px;
    padding-left: 25px;
}

.bloque-ingredientes {
    font-family: 'Roboto', sans-serif;
    height: 500px;
    width: 500px;
    clear: left;
    display: inline-block;

}

.titulo-ingredientes {
    font-size: 18px;
    padding-left: 10px;
}

.listado-ingredientes {
    font-size: 15px;
    list-style-type: square;
}

hr {width: 90%;
    height: 5px;
    background-color:#666;
}

.bloque-procedimiento{
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
}

.titulo-procedimiento {
    padding-left: 25px;
    padding-top: 10px;
    font-size: 18px;
}

.listado-procedimiento {
    font-size: 15px;
}

.listado-procedimiento li {
    margin-bottom: 10px;
}


.container {
    height: 50px;
    position: relative;
}

.center {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.compartir {
    font-family: 'Roboto', sans-serif;
    background-color: #4CAF50;
    border: none;
    border-radius: 8px;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    transition-duration: 0.4s; /*chetaaaasooooo*/


}

.compartir:hover {
    background-color: pink;
    color: white;
  }
