:root {
  --main-bg-color:  #009900;
  --bg-secondary: #66ff66;
}

* {
  box-sizing: border-box;
}

.container-principal {
  margin: auto;
}

.flex-grid {
  display: block;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;

  /* grid-template-columns: 300px;
    grid-template-rows: 350px;
    grid-gap: 15px;
    margin-top: 44px;
    grid-auto-rows: 350px;
    justify-items: center;
    justify-content: center;
    align-items: stretch;
    align-content: center;
    grid-auto-flow: row;  
    padding: 10px 19px 0px 19px;
    justify-self: stretch; */
}

.flex-grid > div {
  margin: 20px;
  height: 375px;
  width: 300px;
  border-style: dotted;
  border-color: #365c74;
  border-width: 5px;
  padding: 10px;
}

.recipe {
  box-shadow: 0 8px 8px 0 rgba(0, 0, 0, 0.5);
}

img {
  width: 100%;
  height: 250px;
}

.footer-receta {
  background-color: var(--bg-secondary);
  height: calc(100% - 250px);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.nombre-receta {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-weight: 600;
  letter-spacing: 0.3px;
  text-align: left;
  color: #365c74;
  padding: 10px 0px 0px 10px;
  margin: 0px;
  line-height: 1.4;
}

.fa-clock {
  padding-left: 10px;
  width: 22px;
  height: auto;
  color: #000000;
}

.mins {
  display: inline-block;
  font-family: 'Roboto', sans-serif;
  font-size: 12px;
  font-weight: 500;
  letter-spacing: 0.3px;
  text-align: left;
  color: #4a4a4a;
  position: relative;
  padding-left: 7px;
}

body {background-color: var(--main-bg-color);}


/* For tablets: */
@media only screen and (min-width: 600px) {
}

/* For desktop: */
@media only screen and (min-width: 768px) {
  .flex-grid {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;

    /* grid-template-columns: repeat(4, 300px);
    grid-template-rows: 350px;
    grid-auto-columns: 300px;
    padding: 10px 19px 0px 19px;
    justify-self: stretch; */
  }

  .flex-grid > div {
    margin: 20px;
    height: 375px;
    width: 300px;
    border-style: dotted;
    border-color: #365c74;
    border-width: 3px;
    padding: 10px;
  }

  h1.header {
    font-size: 50px;
  }

  .footer-receta:hover > h2 {
    font-size: 18px;
  }

  .footer-receta:hover {
    background-color: #b1ffde;
  }
}

