
/* latin */
@font-face {
  font-family: 'Homemade Apple';
  font-style: normal;
  font-weight: 400;
  src: local('Homemade Apple Regular'), local('HomemadeApple-Regular'), url(https://fonts.gstatic.com/s/homemadeapple/v10/Qw3EZQFXECDrI2q789EKQZJob0x6XHg.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* latin */
@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 400;
  src: local('Open Sans Italic'), local('OpenSans-Italic'), url(https://fonts.gstatic.com/s/opensans/v17/mem6YaGs126MiZpBA-UFUK0Zdc0.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* latin */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans Regular'), local('OpenSans-Regular'), url(https://fonts.gstatic.com/s/opensans/v17/mem8YaGs126MiZpBA-UFVZ0b.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* latin */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  src: local('Open Sans Bold'), local('OpenSans-Bold'), url(https://fonts.gstatic.com/s/opensans/v17/mem5YaGs126MiZpBA-UN7rgOUuhp.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* font-family: 'Homemade Apple', cursive, sans-serif; */
/* font-family: 'Open Sans', sans-serif; */



* {
  box-sizing: border-box;
}

 
.flex-grid {
    display: block;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;


    /* grid-template-columns: 300px;
    grid-template-rows: 350px;
    grid-gap: 15px;
    margin-top: 44px;
    grid-auto-rows: 350px;
    justify-items: center;
    justify-content: center;
    align-items: stretch;
    align-content: center;
    grid-auto-flow: row;  
    padding: 10px 19px 0px 19px;
    justify-self: stretch; */
    
  }

  .flex-grid > div {
    margin: 20px;
    height: 375px;
    width: 300px;
    border-style: dotted;
    border-color: #365c74;
    border-width: 5px;
    padding: 10px;
  }


.footer-receta {
  background-color: aquamarine;
  height: calc(100% - 250px);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}


h2 {
    font-family: 'Homemade Apple', cursive;
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 0.3px;
    text-align: left;
    color: #365c74;
    padding: 10px 0px 0px 10px;
    margin: 0px;
    line-height: 1.4;
  }

  
img {
    width: 100%;
    height: 250px;
  }
  
.recipe {
    box-shadow: 0 8px 8px 0 rgba(0, 0, 0, 0.5);
  }
  
.fa-clock {
    padding-left: 10px;
    width: 22px;
    height: auto;
    color: #000000; 

  }
  
.mins {
    display: inline-block;
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
    font-weight: 500;
    letter-spacing: 0.3px;
    text-align: left;
    color: #4a4a4a;
    position: relative;
    padding-left: 7px;

  }
  
.header {
    font-family: 'Homemade Apple', cursive;
    color: #365c74;
    background-color: aquamarine;  
    word-spacing: 0.4em;
    text-align: center;

  }
  
.container {
    margin: auto;
  }
  
footer {
    margin-top: 44px;

  }


  /* For tablets: */
@media only screen and (min-width: 600px) {
  
}


  /* For desktop: */
@media only screen and (min-width: 768px) {
  .flex-grid {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;

    /* grid-template-columns: repeat(4, 300px);
    grid-template-rows: 350px;
    grid-auto-columns: 300px;
    padding: 10px 19px 0px 19px;
    justify-self: stretch; */
  }

 .flex-grid > div {
    margin: 20px;
    height: 375px;
    width: 300px;
    border-style: dotted;
    border-color: #365c74;
    border-width: 5px;
    padding: 10px;
  }

h1.header {
  font-size: 50px;
}


  .footer-receta:hover > h2 {
    font-size: 20px;
  }

  .footer-receta:hover {
    background-color: #ffd700;
  }
}